
  //  @text: #010402,
  //  @background: #f7fdf8,
  //  @primary: #46e27c,
  //  @secondary: #e5faec,
  //  @accent: #dc38a2,

@text: #fbfefc;
@background: #020803;
@primary: #1db954;
@secondary: #051a0c;
@accent: #c7238e;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
 }

#root {
  height: 100vh;
  background: @background;
  color: @text;
  aspect-ratio: 900/450;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./layer1.svg');
}

button {
  padding: 7px 15px;
  border-radius: 20px;
  cursor: pointer;

  &.primary {
    border: 1px solid @primary;
    background: @background;
    color: @primary;
    &:hover {
      background: @primary;
      color: @background;
      transition: 0.2s;
    }
  }

  &.selected {
    border: 1px solid @primary;
    background: @primary;
    color: @background;
  }

  &.secondary {
    border: 1px solid @accent;
    background: @background;
    color: @accent;
    &:hover {
      background: @accent;
      color: @background;
      transition: 0.2s;
    }
  }
  
}

#footer {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  p {
    color: @accent;
    a {
      text-decoration: none;
      color: @accent;
    }
  }
}

@media screen and (max-width: 430px) {
  .artist-info {
    overflow-y: hidden;

    .name {
      font-size: 20px;
    }

    .genres, .artists {
      font-size: 15px;
      max-height: 40%;
      overflow: hidden;
    }
  }
}

#main_title {
  font-size: calc(4vw + 4em);
  font-weight: 500;
  font-style: italic;
}

.accordian-group {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 700px;
}

.accordian {
  width: 330px;

  .accordian-children {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 0;
  }

  .section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: @primary;  
    font-size: 0.8em;
    padding: 5px 0;
    font-weight: 600;
  }
}

#root-page {
  margin: 0px 20px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;

  .login_info_text {
    padding: 30px 0;
  }

  .button-container {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    gap: 20px
  }

  .artists-container, .songs-container {
    font-size: 35px;
    
    .artist {
      color: @text;
      
      &:hover.unexpanded {
        cursor: pointer;
        transition: 0.3s;
        color: #c7238e;
      }

      &.expanded {
        height: 25vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          height: 90%;
        }

        .artist-info {
          height: 90%;
          padding-left: 20px;
          max-width: 500px;

          .name {
            color: @accent;
          }

          .genres, .artists {
            font-size: 15px;
          }
        }
      }
      &.unexpanded {
        padding: 3px 0;
      }
    }
  }
}

#logout {
  position: absolute;
  top: 20px;
  right: 20px;
}

.error-message {
  font-size: 0.8em;
}

.loading-indicator {
  width: 100%;
  padding: 100px;
}

