button {
  background-color: #1db954;
  color: black;
}

button:hover {
  cursor: pointer;
  background-color: #1db954;
  color: white;
  border: none;
}

button:focus {
  outline: 0;
}

.button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  padding: 10px 25% 50px 25%;
}

.button_container button {
  border-radius: 20px;
  border: 1px black solid;
  background-color: white;
  width: 20%;
  height: 2em;
  font-weight: 500;
}

.button_container button:hover {
  background-color: #1db954;
  color: white;
  border-color: #1db954;
}

.button_container button:focus {
  background-color: #1db954;
  color: white;
  border-color: #1db954;
}

.expand_button {
  position: fixed;
  z-index: 2;
  bottom: 2vh;
  right: 2vw;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  border: none;
}

.login_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0px auto;
}

.login_container #main_title {
  padding-top: 15%;
  font-size: calc(5vw + 5em);
}

.login_info_text {
  margin-top: 55px;
  width: 60%;
  color: #838383;
  font-size: 0.95em;
  line-height: 1.5em;
}

.login_button {
  border-radius: 50px;
  border: 1px black solid;
  padding: 1em 3em;
  color: black;
  background-color: white;
  font-weight: 600;
  margin-top: 40px;
}

p {
  margin: 0;
}

.App {
  text-align: center;
}

#main_title {
  font-size: calc(1.5em + 4vw);
  margin: 2.5vh;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #1db954;
}

#sub_title {
  font-size: calc(1em + 0.5vw);
  margin: 5px;
  font-weight: 200;
}

.Artist {
  color: rgb(0, 0, 0);
  width: 100%;
}

.Artist :hover {
  background: #f7f7f7;
  cursor: pointer;
}

.unexpanded_artist_title {
  font-size: 30px;
  height: 1.7em;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expanded_artist {
  display: flex;
}

.artist_details {
  width: calc(100% - 250px);
  text-align: left;
}

#expanded_title {
  margin-top: 5px;
  margin-left: 4%;
  color: #1db954;
  font-size: 2.4em;
}

#expand_details {
  text-align: left;
  padding-left: 5%;
  font-size: 1.1em;
  line-height: 200%;
}

#spotify_link_button {
  background-color: #1db954;
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

#spotify_link_button i {
  color: black;
  background-color: #1db954;
}

.img_box {
  /* Prevent vertical gaps */
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_box img {
  /* Just in case there are inline attributes */
  max-width: 250px !important;
  height: auto !important;
}

#main_footer {
  padding: 30px 0;
  width: 100%;
  text-align: center;
  color: #555;
  line-height: 1.5;
  font-size: 0.8em;
}

@media (max-width: 1000px) {
  .button_container {
    padding: 10px 10% 50px 10%;
    width: 80%;
  }

  .button_container button {
    width: auto;
    padding: 5px 20px;
    height: auto;
  }
}

@media (max-width: 430px) {
  header {
    margin-bottom: 20px;
  }

  .login_info_text {
    width: 80%;
  }
  .button_container {
    padding: 0;
    width: 100%;
  }

  .button_container button {
    width: auto;
    padding: 5px 10px;
  }

  .expanded_artist {
    flex-direction: column;
    align-items: center;
  }

  .unexpanded_artist_title {
    height: auto;
  }

  .unexpanded_artist_title:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 70%; /* Change this to whatever width you want. */ /* This creates some space between the element and the border. */
    padding-top: 5px;
    border-bottom: 1px solid rgb(231, 231, 231); /* This creates the border. Replace black with whatever color you want. */
  }

  .img_box {
    width: 100%;
  }

  .img_box img {
    /* Just in case there are inline attributes */
    width: 250px;
    height: auto !important;
    margin: 20px auto;
  }

  .artist_details {
    width: 100%;
    text-align: center;
  }

  #spotify_link_button {
    margin: 10px 0;
    width: 100%;
  }

  #spotify_link_button i {
    padding: 5px 0;
  }
}
